---
pagination: 
  enabled: true
---


{% include header.html %}

    <main id="portfolio">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-container">
                    <div class="hero-content">
                        <div class="row text-left">
                            <div class="col-sm-12">
                                <h2>🔥Interactive results of SteerX🔥</h2>
                                <!-- <p>Generating more results for fun here. Check <a href="./test_0.html">this page</a> for the comparison over 40 test prompts in our experiments.</p> -->
                            </div>
                        </div>
                    
                        <div style="font-size: 20px; text-align: center; padding: 1em">
                            <a href="index.html">Home</a>
                            &nbsp;&bull;&nbsp;
                            <a href="gallery_0.html">Text-to-4D</a>
                            &nbsp;&bull;&nbsp;
                            <a href="gallery_1.html">Image-to-4D</a>
                            &nbsp;&bull;&nbsp;
                            <strong>Text-to-3D</strong>
                            &nbsp;&bull;&nbsp;
                            <a href="gallery_3.html">Image-to-3D</a>
                        </div>
                    </div>
                </div>
                <div class="content-wrap">
                    <div class="row post-row">
                        <div class="container">
                            <div class="content">
                                <div id="wrapper" style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; gap: 20px; text-align: center;">
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="files/text-to-3d/A green cactus in a clay pot.html" style="width: 300px; height: 300px;"></iframe>
                                        <p class="excerpt">A green cactus in a clay pot</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="files/text-to-3d/A green cactus in a clay pot.html" style="width: 300px; height: 300px;"></iframe>
                                        <p class="excerpt">A green cactus in a clay pot</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="files/text-to-3d/A green cactus in a clay pot.html" style="width: 300px; height: 300px;"></iframe>
                                        <p class="excerpt">A green cactus in a clay pot</p>
                                    </div>
                                </div>

                                <div id="wrapper" style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; gap: 20px; text-align: center;">
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="files/text-to-3d/A green cactus in a clay pot.html" style="width: 300px; height: 300px;"></iframe>
                                        <p class="excerpt">A green cactus in a clay pot</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="files/text-to-3d/A green cactus in a clay pot.html" style="width: 300px; height: 300px;"></iframe>
                                        <p class="excerpt">A green cactus in a clay pot</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="files/text-to-3d/A green cactus in a clay pot.html" style="width: 300px; height: 300px;"></iframe>
                                        <p class="excerpt">A green cactus in a clay pot</p>
                                    </div>
                                </div>

                                <div id="wrapper" style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start; gap: 20px; text-align: center;">
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="files/text-to-3d/A green cactus in a clay pot.html" style="width: 300px; height: 300px;"></iframe>
                                        <p class="excerpt">A green cactus in a clay pot</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="files/text-to-3d/A green cactus in a clay pot.html" style="width: 300px; height: 300px;"></iframe>
                                        <p class="excerpt">A green cactus in a clay pot</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <iframe src="files/text-to-3d/A green cactus in a clay pot.html" style="width: 300px; height: 300px;"></iframe>
                                        <p class="excerpt">A green cactus in a clay pot</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}