accelerate==1.1.1
addict>=2.4.0
av==13.1.0
click>=8.1.7
diffusers==0.32.2
einops>=0.8.0
evo==1.30.6
gdown==5.2.0
gsplat==1.4.0
huggingface-hub~=0.25.2
imageio==2.34.0
imageio-ffmpeg==0.5.1
loguru==0.7.2
matplotlib==3.10.0
moviepy==1.0.3
numpy==1.24.4
omegaconf>=2.3.0
opencv-python==4.9.0.80
pandas==2.0.3
peft==0.14.0
pillow>=9.5.0
plyfile==1.1
pyiqa==0.1.10
pyliblzfse>=0.4.1
pyyaml>=6.0.2
ray>=2.37.0
roma==1.5.1
safetensors==0.4.3
scikit-image>=0.25.1
sentencepiece>=0.2.0
setuptools>=75.2.0
transformers==4.47.1
trimesh==4.4.3
tqdm==4.67.1
git+https://github.com/byeongjun-park/diff-gaussian-rasterization
git+https://github.com/mhamilton723/FeatUp
-e steerx_diffusers/geometry_steering/monst3r/third_party/sam2
-e viser